section#event {

}
section#event .wrap {
  padding: 50px 0;
}
section#event .wrap h2.h2 {

}
section#event .wrap ul.eventlist {

  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}
section#event .wrap ul.eventlist li {
  width: 100%;
}
section#event .wrap ul.eventlist li a {
  display: block;
  border-radius: 20px;
  padding: 50px 0;
}
section#event .wrap ul.eventlist li:nth-child(1) a{
  background-color: #F7ECFF;
}
section#event .wrap ul.eventlist li:nth-child(2) a{
  background-color: #FFF4E5;
}
section#event .wrap ul.eventlist li:nth-child(3) a{
  background-color: #FFEEF0;
}
section#event .wrap ul.eventlist li:nth-child(4) a{
  background-color: #EAF6FE;
}
section#event .wrap ul.eventlist li a::before{
  content: "";
  display: block;
  background: url(../img/event1.png) no-repeat center /contain;
  width: 132px;
  height: 132px;
  width: 100%;
  margin-bottom: 20px;
}
section#event .wrap ul.eventlist li:nth-child(2) a::before{
  background: url(../img/event2.png) no-repeat center /contain;
}
section#event .wrap ul.eventlist li:nth-child(3) a::before{
  background: url(../img/event3.png) no-repeat center /contain;
}
section#event .wrap ul.eventlist li:nth-child(4) a::before{
  background: url(../img/event4.png) no-repeat center /contain;
}
section#event .wrap ul.eventlist li a h3 {

  line-height: 2;
  font-size: 18px;
}
section#event .wrap ul.eventlist li a p {

  line-height: 1.5;
  color: #666;
}